.body {
  &_wrapper {
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .genres-list {
      border-radius: 20px;
      border: 2px solid black;
      margin-top: 80px;
      width: 1000px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin: 30px 0;
      &_item {
        list-style-type: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: black;
      }
    }

    .game {
      padding: 10px;
      margin-bottom: 30px;
      border-radius: 20px;
      border: 2px solid black;
      width: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .player {
        padding: 20px;
        border-radius: 20px;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 240px;
        width: 100%;
        &_img {
          margin-right: 30px;
          width: 150px;
          height: 150px;
          border-radius: 20px;
        }
        &_wrapper {
          width: 700px;
          font-family: 'Montserrat';
          font-weight: 400;
          font-size: 18px;
          padding: 10px;
          // background-color: #2da1ea9d;
        }
      }

      .options {
        width: 100%;
        // background-color: rgb(32, 200, 144);
        &_wrapper {
          padding: 20px 0;
          // background-color: #c2c820;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .artists {
            padding: 15px;
            width: 440px;
            height: 300px;
            // border-radius: 20px;
            // border: 2px solid black;

            &_list {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              :nth-last-child(1) {
                margin-bottom: 0px;
              }
              &_item {
                padding: 10px;
                margin-bottom: 10px;
                list-style-type: none;
                border-radius: 20px;
                border: 2px solid black;
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 18px;
                width: 300px;
                height: 50px;
                text-align: center;
                &:hover {
                  background-color: #8edbf9;
                  cursor: pointer;
                }
              }
              .answer-wrong {
                background-color: #d4d7d9;
                color: #505455a9;
                text-decoration: line-through;
                &:hover {
                  cursor: unset;
                }
              }
              .answer-right {
                background-color: #1cb8f6;
                font-weight: bold;
                &:hover {
                  cursor: unset;
                }
              }
            }
          }
          .info {
            padding: 15px;
            width: 440px;
            height: 300px;
            border-radius: 20px;
            border: 2px solid black;
            &_img {
              float: left;
              margin: 0 7px 7px 0px;
              width: 120px;
              height: 120px;
              border-radius: 20px;
            }
            &_text {
              margin: 0;
              text-align: justify;
              font-family: 'Montserrat';
              font-weight: 400;
              font-size: 18px;
            }
          }
        }
      }
    }

    .button-next {
      background-color: #1cb8f6;
      border-radius: 20px;
      width: 150px;
      height: 50px;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 30px;
      &:hover {
        cursor: pointer;
      }
    }

    .disabled {
      background-color: #d4d7d9;
      color: #505455a9;
      &:hover {
        cursor: unset;
      }
    }
  }
}
