.body {
  &_wrapper {
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .genres-list {
      border: 1px solid black;
      margin-top: 80px;
      width: 1000px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      &_item {
        list-style-type: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: black;
      }
    }

    .game {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .player {
        border: 1px solid rgba(56, 39, 169, 0.617);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1000px;
        height: 200px;
      }
      .options {
        border: 1px solid rgb(171, 18, 18);
        display: flex;
        align-items: center;
        justify-content: center;
        .artists {
          border: 1px solid rgb(171, 18, 18);
        }

        .info {
          border: 1px solid rgb(171, 18, 18);
          float: left;
        }
      }
    }
  }
}
