.button-next {
  background-color: #1cb8f6;
  border-radius: 20px;
  padding: 0 10px;
  height: 50px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  &:hover {
    cursor: pointer;
  }
}

.disabled {
  background-color: #d4d7d9;
  color: #505455a9;
  &:hover {
    cursor: unset;
  }
}
